@charset "ISO-8859-1";

*{
	margin:0 auto;
	padding: 0;
}

h1{
	color:black;
	font-weight: bolder;
}

.grow{
		color:black;
	font-weight: bolder;
}



.login{
	background-image: url("https://jooinn.com/images/wild-flowers-52.jpg");
	background-size:cover;	
}

#addPlant{
	background-image: url("https://images.fineartamerica.com/images-medium-large-5/2-sunken-garden-como-conservatory-amanda-stadther.jpg");
	background-size:cover;
	padding-bottom:200px;
}



body{
	margin:auto;
	padding-bottom:200px;
}

.pink{
	background-color:#FFB1B9;
}

#pink-text{
	color:#FFB1E0;
	font-weight:bold;
}
